<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
  </head>
  <body class="bg-black h-screen flex flex-col items-center">
    <h1 class="text-white text-2xl font-bold py-[1.5rem]">Welcome to my blog</h1>
    <div class="h-[60vw] overflow-y-auto flex flex-col items-center gap-y-[1rem] mt-10">
      {% for post in posts %}
      <div class="flex flex-col items-center bg-white shadow-lg rounded-lg p-[1rem] w-[40vw]">
        <h1>{{ post.title }}</h1>
        <p>{{ post.body }}</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
